body{
  font-family: 'Nunito', sans-serif;
}

.header{
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}

.header .navbar-brand{
  font-size: 2rem !important;
}

.header .form_principal input{
  width: 80%;
  border-radius: 10px 0px 0px 10px;
}

.header .form_principal button{
  width: 20%;
  border-radius: 0px 10px 10px 0px;
}

.categoria p{
  opacity: 0;
  transition: all 1s ease;
}

.categoria h4::before{
  content: '';
  width: 30%;
  height: 2px;
  background-color: #99e59d;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  transition: all .3s ease;
}

.categoria:hover h4::before{
  width: 60%;
}

.categoria:hover p{
  opacity: 1;
}

.fvr_pro, .beneficios{
  background-color: #343a40;
}

.primeros_pasos .logotipo{
  background-image: url('../img/servicio1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.primeros_pasos .social_media{
  background-image: url('../img/servicio2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.primeros_pasos .audio{
  background-image: url('../img/servicio3.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.primeros_pasos .traducciones{
  background-image: url('../img/servicio4.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.primeros_pasos .wordpress{
  background-image: url('../img/servicio5.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.primeros_pasos .description{
  flex: 1 0 calc(50% - 1rem);
  height: 350px;
}

.testimoniales{
  background-color: #ccc;
}

.guias a{
  text-decoration: none;
}

.footer .nav-link{
  color: #343a40 !important;
}

.footer{
  background-color: #eaebed;
}

.footer .footer_col{
  flex: 1 0 calc(100% - 1rem);
}

.header .form_secundario input{
  border-radius: 10px 0px 0px 10px;
}

.header .form_secundario button{
  border-radius: 0px 10px 10px 0px;
}

#navbar2, #submenu2{
  border-bottom: 1px solid #ccc;
}

@media (min-width: 768px){
  .primeros_pasos .description, .footer .footer_col{
    flex: 1 0 calc(33.3% - 1rem);
  }
}

@media (min-width: 992px){
  #navbar_principal{
    background-color: transparent !important;
  }

  .primeros_pasos .description, .footer .footer_col{
    flex: 1 0 calc(15% - 1rem);
  }
}
